

body{
    position: absolute;
    background-color: black;
    background-image: url('../bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0px -100px;
    height:100% !important;
    width:100% !important;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) var(--scrollbarBG);
    /* border: 2PX solid #ba277f;   */
}
.admin{
  margin:10px;
  padding-right: 0px;
}
.brand{
    margin-right:5px;
}
.apexcharts-tooltip {
    color: #ffffff;
  }
  apexchart-menu{
      z-index:1;
  }
.underline{
    border-bottom: 2PX solid #ba277f;  
}

.exchange{
    position:absolute;
    /* height:100% !important; */
    /* width:100% !important; */
    top: 50px;
    left: 0;
    right: 0;
    bottom: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: space-evenly; 
    /* border: 1px solid  #ba277f; */
    /* overflow:hidden */
}

.switch{
    position:absolute;
    top:60px;
    bottom:0px;
    width: 100% !important;
    padding: 0px;
    /* height:100%; */
    
    /* border-bottom: 1px solid  #ba277f; */
}

main{
    position:absolute;
    
    width:100% !important ;
    top:0px;
    bottom:0px;
    /* border-bottom: 1px solid  #ba277f; */
}
#root{
    position:absolute;
    top:0px;
    bottom:0px;
    /* height: 100% !important; */
    width:100%;
    
}

.btn-custom {
    background-color: #ba277f;
    border:0px;
    display: inline-block;
    width:fit-content;
}


  
  .exchange > div:first-child {
    min-width: 220px
  }
  
  .exchange > div:nth-child(2) {
    min-width: 200px
  }
  
  .exchange  div:nth-child(3) {
    width: 100%
  }
  
  .exchange > div:last-child {
    padding-right: 0;
    min-width: 240px
  }
  
  @media (max-width:992px) {
    .exchange {
      display: block;
      overflow-y: auto
    } 
  
     .exchange > div {
         /* height: 100%; */
      width: 100%!important;
      padding-right: 0;
      padding-bottom: 5px
    }
  }
  
  .vertical > div {
    height: 100% !important;
    width:100%;
  }
  
  .vertical-split {
      
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap
  }
  
  .vertical-split > div {
      position:relative;
    height: 50%
  }
  
  .vertical-split > div:first-child {
    margin-bottom: 0px
  }
  
  .vertical-split:last-child > div:first-child {
    height: 60%
  }
  
  .vertical-split:last-child > div:last-child {
    height: 40%
  }
  
  @media (max-width:992px) {
    .vertical-split {
      display: block
    }
    .vertical-split > div,
    .vertical-split > div:first-child {
      height: 400px;
      width: 100%;
    }
  }
  
  .card {
    border-radius: 0px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    height:auto;
    border-top: 1px solid  #ba277f;
    border-right: 1px solid  #ba277f;
  }
  
  .card-header {
    padding-left: 5px;
    padding-top:0px;
    background: transparent;
  }
  
  .card-body{
    flex: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
    padding: 2px;
  }
  
  .card-body th {
    border-top: 0;
  }
  
  .card-body .nav-tabs {
    border-color: #95999c;
  }
  
  .card-body .nav-item.nav-link {
    font-size: 80%;
    font-weight: bold;
    background-color: inherit;
    color: inherit;
    padding: 4px 5px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-color: #95999c;
    border-radius: 0px;
  }
  
  .card-body .nav-item.nav-link.active {
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    border-bottom: 1px solid  #ba277f;
  }
  
  .card-body .price-chart {
    height:100%;
    padding-bottom: 60px;
  }
  
  .card-body .price-chart .price {
    padding-left: 20px;
    color:#ffffff;
  }
  
  td.cancel-order {
    cursor: pointer;
  }
  
  tr.order-book-order {
    cursor: pointer;
  }
  /* PRICECHART HEADER */
  .price{
    margin:0px;
  }
  h4{
    margin-bottom: 0px;
   
  }

  .pricecharth4{
    width:fit-content;
    float:left;
  }
  .metamask{
    height:25px;
    cursor: pointer;
    float:right;
    margin:5px;
  }

  /*Hide arrows in input type number*/
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type=number] {
    -moz-appearance: textfield;
  }

  /******************************** TOOLTIP ******************************/
  .tooltip-main {
    width: 15px;
    height: 10px;
    border-radius: 50%;
    font-weight: 700;
    background: #f3f3f3;
    border: 1px solid #737373;
    color: #737373;
    margin: 4px 121px 0 5px;
    float: right;
    text-align: left !important;
  }
  
  .tooltip-qm {
    float: left;
    margin: -2px 0px 3px 4px;
    font-size: 12px;
  }
  
  .tooltip-inner {
    max-width: 236px !important;
    height: 25px;
    font-size: 12px;
    padding: 2px;
    background:  #ba277f;
    color: rgba(255, 255, 255, 0.7);
    border: 1px solid #ffffff;
    text-align: left;
  }
  
  .tooltip.show {
    opacity: 1;
  }
  
  tr:hover td{background-color: rgba(186, 39, 127, 0.5);}

  /******************************** POPUP ******************************/

  .popup {  
    position: fixed;  
    width: 100%;  
    height: 100%;  
    top: 0;  
    left: 0;  
    right: 0;  
    bottom: 0;  
    margin: auto;  
    background-color: rgba(0,0,0, 0.5);  
    text-align: center;
    margin:auto;
    z-index: 9999;
  }  
  .popupinner {  
    position: relative; 
    color:#ffffff; 
    top:200px;
     max-width:500px;
    margin: auto;  
    border-radius: 20px;  
    background: #000000;  
    border:1px solid  #ba277f;
    z-index: 9999;
    display: block;
    padding:5px;
  }
  .popupinner > p{
      margin:10px;  
    
  }
  .popupinner > h4{
    margin:10px;  
  }
  
.cancel-order{
        color:#ba277f;
        font-size: 30px;
        line-height:15px;
    }


.admin-panel{
  float:right;
  border:1px solid #ffffff;
  display:inline;
}
    /************************************         SPINNER    ***************************************/

.rotate {
    animation: rotation 15s infinite linear;
    height:400px;
  }
  .spinner {
    animation: rotation 10s infinite linear;
    height:40px;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }


  /* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(186, 39, 127, 0.5);
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:  #ba277f;
    border-radius: 10px;
  }

  .stacking-pool{
    border-radius: 5px;
    display:inline-block;
    height:150px;
    width:400px;
    /* border:1px solid #ffffff; */
    margin:5px;
  }

  .stacking-cardbg{
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url('../logo.svg');
    background-size: 200px 200px;
    background-repeat: no-repeat;
    width:100%;
    
    margin:0px;
    padding: 5px;
    z-index: -1;
    text-align: right;
  }

  .stacking-head{
    background:  #ba277f;
    margin:0px;
    border-top-left-radius: 15px;
  }

  .stack-btn{
    display: inline;
    padding:15px;
    padding-left:40px;
   
  }

  .stack-input{
    display: inline-block;
    width:160px;
    height: 40px;
  }

  .stack-form{
    /* border:1px solid #ffffff; */
    text-align: center;
    height:60px;
    margin-top:0px;
  }
  .stack-pending{
    display: inline-block;
    width: 180px;
    background-color:rgba(39,33,48,0.95);
    text-align: center;
    font-size:30px;
    height: 40px;
    border-radius: 20px;
   
    margin-right:10px;
    color:  #FFFFFF;
  }